:root{
    --lighter-font: rgb(128, 128, 128);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-image: url("/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color:  hsl(225, 100%, 94%);
    text-align: center;
}


.container{
    background-color: white;
    width: 30%;
    height: 60%;
    margin: 30px auto;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 5px 5px 50px hsl(225, 100%, 85%);
}

.hero-banner{
    width: 100%;
}

.container h2{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
}

.description{
  color: var(--lighter-font);  
  margin: 20px;  
}

.pricing-wrapper{
    background-color: hsl(225, 100%, 94%);
    margin: 10px 13%;
    width: 75%;
    padding: 10px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pricing-wrapper p{
    font-size: small;
    align-self: left;
}

.plan-type{
    font-weight: 900;
}

.price{
    color: var(--lighter-font);
}

.pricing-wrapper a{
    font-size: 12px;
    color:hsl(245, 75%, 52%);
    font-weight: 700;
}

.pricing-wrapper a:hover{
    cursor: pointer;
    text-decoration: none;
}

button{
    width: 75%;
    height: 40px;
    background-color: hsl(245, 75%, 52%);
    margin: 10px 30px;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 5px 5px 15px hsl(225, 100%, 85%) ;
}

button:hover{
    background-color: hsl(245, 80%, 67%);
    cursor: pointer;
    transition: 0.3s;
}

.cancel-order{
    display: block;
    color: var(--lighter-font);
    font-weight: 700;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cancel-order:hover{
    color: black;
    cursor: pointer;
    transition: 0.3s;
}


@media  (max-width: 769px) {
    .container{
        width: 80%;
    }
}